{
    "extends": [
        "wesbos"
    ],
    "rules": {
        "no-undef": "off",
        "no-console": 0,
        "prettier/prettier": {
            "endOfLine": "lf",
            "semi": false,
            "singleQuote": true,
            "tabWidth": 2,
            "trailingComma": "es5",
            "printWidth": 120
        },
        "react/prop-types": "off",
        "react/no-danger": "off",
        "import/no-extraneous-dependencies": "off",
        "spaced-comment": "off"
    }
}
