{
    "extends": [
        "wesbos"
    ],
    "rules": {
        "no-undef": "off",
        "no-console": 0,
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "lf",
                "semi": false,
                "singleQuote": true,
                "tabWidth": 2,
                "trailingComma": "es5",
                "printWidth": 120,
                "arrowParens": "avoid"
            }
        ],
        "react/prop-types": "off",
        "react/no-danger": "off",
        "import/no-extraneous-dependencies": "off",
        "spaced-comment": "off"
    }
}
