[build]
base = "/"
command = "bun run build"
publish = "public/"

[build.processing.css]
bundle = true
minify = false
[build.processing.js]
bundle = true
minify = false
[build.processing.html]
pretty_urls = true
[build.processing.images]
compress = true

[build.environment]
NODE_ENV = "production"

[[headers]]
for = "/rss.xml"
[headers.values]
Cache-Control = "no-cache"

[[headers]]
for = "/.well-known/webfinger"
[headers.values]
Content-Type = "application/jrd+json"

[[headers]]
for = "/.well-known/host-meta"
[headers.values]
Content-Type = "application/xml"

[[headers]]
for = "/.well-known/nodeinfo"
[headers.values]
Content-Type = "application/jrd+json"
