@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700,700i|Montserrat:900&display=swap');

$tabSize: 4;
$hyphens: none;

@mixin bodyFont() {
    font-family: 'Merriweather Sans','Georgia',serif;
    font-weight: 400;
}

@mixin headingFont() {
    font-family: 'Montserrat','Georgia',serif;
    font-weight: 900;
}

@mixin codeFont() {
    font-family: monospace, serif;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;

    -moz-tab-size: $tabSize;
    -o-tab-size: $tabSize;
    tab-size: $tabSize;

    -webkit-hyphens: $hyphens;
    -moz-hyphens: $hyphens;
    -ms-hyphens: $hyphens;
    hyphens: $hyphens;
}
