@import url('https://fonts.googleapis.com/css?family=Arvo|Merriweather');

@mixin bodyFont() {
    font-family: 'Merriweather', 'Helvetica', serif;
    font-weight: 400;
}

@mixin headingFont() {
    font-family: 'Arvo', sans-serif;
    font-weight: 900;
}

@mixin codeFont {
    font-family: 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono','Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant-ligatures: additional-ligatures;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
}
