$filter: invert(100%) hue-rotate(180deg);

$blue: #539bf5;
$red: #fd3300;
$orange: #f9a515;

$darkBg: #1e2228;
$darkFg: #adadad;
$darkHl: $blue;

$inlineCodeFg: #bd10e0;

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

@mixin hr($color, $width) {
    hr {
        border-top: solid $width $color;
        border-bottom: none;
        opacity: 1;
        margin: 45px 0;
    }
}
