@use "sass:color";
@use "_variables";
@use "_gatsby";
@use "menu";

@import url("https://api.fontshare.com/v2/css?f[]=synonym@400&f[]=amulya@700&display=swap");

body {
	margin: 0;
	font-kerning: normal;
	word-wrap: break-word;
	font-feature-settings: "kern", "liga", "clig", "calt";
	line-height: 1.65;

	background-color: variables.$darkBg;
	color: variables.$darkFg;

	font-weight: 400;
	font-size: 17px;
	font-family: "Synonym", variables.$fontFamily;

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Amulya", variables.$fontFamily;
	font-weight: 700;
	line-height: 1.15;

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

ol,
ul {
	padding-inline-start: 5px;
	padding-left: 1.5em;
}

li,
p {
	line-height: 1.75;

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		font-size: 1.125rem;
		line-height: 1.8;
	}
}

a {
	color: inherit;
	font-weight: 400;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

hr {
	border: 0;
	border-top: 3px solid variables.$purple;
	margin: 2rem 0;
}

section.footnotes {
	margin: 50px 0;

	p {
		font-size: 0.9rem;
	}
}

::selection {
	background-color: variables.$yellow;
	color: color.invert($color: variables.$darkFg);
}

/**
 * LIGHT MODE
 * Because dark mode should be the default everywhere, ha-ha!
 */
@media (prefers-color-scheme: light) {
	body {
		background-color: variables.$lightBg;
		color: variables.$lightFg;
	}

	h1,
	h2 {
		color: variables.$lightFg;
	}

	a {
		color: inherit;
	}

	hr {
		border-top-color: variables.$lightBlue;
	}

	::selection {
		background-color: variables.$lightTeal;
		color: variables.$lightBg;
	}

	/* Code blocks */
	.gatsby-highlight {
		background-color: variables.$almostBlack !important;
		border-color: rgba(37, 99, 235, 0.3);
	}

	pre[class*="language-"] {
		background-color: variables.$almostBlack !important;
	}

	code[class*="language-"] {
		color: rgb(226, 232, 240) !important;
	}
}
