@use "variables";

$menuPaddingLeft: 20px;

/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 32px;
	height: 24px;
	left: 10px;
	top: 10px;
}

.bm-cross-button {
	height: 24px;
	width: 24px;
}

.bm-cross {
	background: variables.$darkFg;
}

.bm-burger-bars {
	background: variables.$teal;

	@media (prefers-color-scheme: light) {
		background: variables.$lightFg;
	}
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	top: 0;
	max-width: 75vw;
}

/* General sidebar styles */
.bm-menu {
	background: #22272e;
	overflow-y: hidden !important;
}

/* Wrapper for item list */
.bm-item-list {
	margin: 20px 0 0 0;
	padding-left: $menuPaddingLeft;
	color: #b8b7ad;

	a {
		display: block;
		font-size: 1em;
		line-height: 1.75em;
	}

	a:hover {
		cursor: pointer;
	}
}

/* Individual item */
.bm-item {
	display: inline-block;

	&:focus-visible,
	&:hover {
		&::before {
			content: "❯ ";
		}

		font-weight: 700;
		outline: none;
		color: variables.$teal;
		text-shadow: 0 0 2px variables.$teal;

		@media (prefers-color-scheme: light) {
			color: variables.$lightTeal;
		}
	}
}

/* Styling of overlay */
.bm-overlay {
	top: 0;
	background: rgba(0, 0, 0, 1);
}
