@use "variables" as *;

.article-list__header {
	margin-top: 80px;
	font-size: 2rem;
	text-align: center;
	color: $teal;

	@media (prefers-color-scheme: light) {
		color: $lightTeal;
	}
}

.article-list__grid {
	display: grid;
	gap: 24px;
	grid-template-rows: auto;

	box-sizing: border-box;
	margin: 80px auto 0 auto;

	@include for-phone-only() {
		grid-template-columns: repeat(1, 1fr);
	}

	@include for-tablet-portrait-up() {
		grid-template-columns: repeat(2, 1fr);
	}

	@include for-tablet-landscape-up() {
		grid-template-columns: repeat(3, 1fr);
	}

	@include for-desktop-up() {
		grid-template-columns: repeat(3, 1fr);
	}

	@include for-big-desktop-up() {
		grid-template-columns: repeat(3, 1fr);
	}
}

.article-card {
	box-sizing: border-box;
	border: solid 3px $gray;
	border-radius: 8px;
	padding: 28px;
	outline: 0;
	background: $darkSecondaryBg;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

	&:hover {
		border-color: $teal;
		box-shadow: 0 8px 24px rgba(83, 155, 245, 0.5);
		transform: translateY(-2px);
	}

	@media (prefers-color-scheme: light) {
		background: $lightSecondaryBg;
		border-color: $lightGray;

		&:hover {
			border-color: $lightGray;
			box-shadow: 0 8px 24px $lightGray;
		}
	}
}

.article-card__title {
	display: block;
	font-size: 1.5rem;
	color: $teal;
	text-align: center;
	margin-bottom: 16px;

	@media (prefers-color-scheme: light) {
		color: $lightTeal;
	}
}
