.pagination {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.pagination__previous {
	margin-right: 5px;
}

.pagination__next {
	margin-left: 5px;
}
