@use "../../styles/variables";

.list {
	margin: 0 auto;
	padding: 0 32px;

	@include variables.for-phone-only() {
		width: 90vw;
	}

	@include variables.for-tablet-portrait-up() {
		width: 80vw;
	}

	@include variables.for-tablet-landscape-up() {
		width: 75vw;
	}

	@include variables.for-desktop-up() {
		width: 65vw;
	}

	@include variables.for-big-desktop-up() {
		width: 50vw;
	}
}

.single {
	margin: 0 auto;
	padding: 0 24px;

	a {
		color: variables.$teal;
		text-decoration: underline;
		text-decoration-color: rgba(83, 155, 245, 0.4);
		text-decoration-thickness: 2px;
		text-underline-offset: 3px;

		@media (prefers-color-scheme: light) {
			color: variables.$lightTeal;
			text-decoration-color: rgba(37, 99, 235, 0.5);
		}

		&:hover {
			color: variables.$teal;
			text-decoration-color: variables.$teal;

			@media (prefers-color-scheme: light) {
				color: variables.$lightTeal;
			}
		}
	}

	@include variables.for-phone-only() {
		width: 90vw;
	}

	@include variables.for-tablet-portrait-up() {
		width: 85vw;
	}

	@include variables.for-tablet-landscape-up() {
		width: 80vw;
	}

	@include variables.for-desktop-up() {
		width: 50vw;
	}

	@include variables.for-big-desktop-up() {
		width: 35vw;
	}
}
