@use "../../styles/variables";
@use "../../styles/menu";

.list {
	margin: 15px auto;
	padding: 0 20px;

	@include variables.for-phone-only() {
		width: 90vw;
	}

	@include variables.for-tablet-portrait-up() {
		width: 80vw;
	}

	@include variables.for-tablet-landscape-up() {
		width: 75vw;
	}

	@include variables.for-desktop-up() {
		width: 65vw;
	}

	@include variables.for-big-desktop-up() {
		width: 50vw;
	}
}

.single {
	margin: 0 auto;

	a {
		color: variables.$blue;
	}

	@include variables.for-phone-only() {
		width: 90vw;
	}

	@include variables.for-tablet-portrait-up() {
		width: 85vw;
	}

	@include variables.for-tablet-landscape-up() {
		width: 80vw;
	}

	@include variables.for-desktop-up() {
		width: 50vw;
	}

	@include variables.for-big-desktop-up() {
		width: 35vw;
	}
}
