@use "../../styles/variables";

.description {
	margin: 60px auto 0 auto;
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.75;

	@include variables.for-phone-only {
		max-width: 80vw;
	}

	a {
		color: variables.$teal;
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-underline-offset: 3px;

		@media (prefers-color-scheme: light) {
			color: variables.$lightTeal;
		}
	}
}
