@import "_variables";

.content {
    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 30px auto;
    }

    ol > li,
    ul > li {
        line-height: 2.5rem;
        list-style-type: none;

        &:before {
            content: "–";
            margin-right: 0.5rem;
        }
    }

    blockquote {
        font-style: italic;
        margin: 1.5em 0;
        padding: 10px 20px;
        quotes: "\201C""\201D""\2018""\2019";
    }

    video {
        display: flex;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
}
