@use "../../styles/variables";

.header {
	text-align: center;
	margin: 50px 0;
	padding-bottom: 50px;
	border-bottom: 2px solid rgba(157, 255, 236, 0.2);

	@media (prefers-color-scheme: light) {
		border-bottom-color: variables.$lightTeal;
	}
}

.title {
	font-size: 2.5rem;
	line-height: 1.5;
	padding-top: 50px;
	color: variables.$teal;
	letter-spacing: -0.025em;

	@media (prefers-color-scheme: light) {
		color: variables.$lightTeal;
	}
}

.excerpt {
	font-size: 1.35rem;
	font-style: italic;
	line-height: 1.5;
	margin-bottom: 40px;
	color: variables.$darkSecondaryFg;

	@media (prefers-color-scheme: light) {
		color: variables.$lightFg;
	}
}

.meta {
	font-size: 1.35rem;
	color: variables.$darkSecondaryFg;

	@media (prefers-color-scheme: light) {
		color: variables.$lightFg;
	}
}

.author {
	color: variables.$darkSecondaryFg;

	@media (prefers-color-scheme: light) {
		color: variables.$lightFg;
	}
}
