@use "../../styles/variables";

.header {
	text-align: center;
	margin-bottom: 80px;
	padding-bottom: 40px;
	border-bottom: 2px solid rgba(157, 255, 236, 0.2);

	@media (prefers-color-scheme: light) {
		border-bottom-color: variables.$lightTeal;
	}
}

.title {
	font-size: 2.5rem;
	line-height: 1.5em;
	margin: 30px 0;
	color: variables.$teal;
	letter-spacing: -0.025em;

	@media (prefers-color-scheme: light) {
		color: variables.$lightTeal;
	}
}

.excerpt {
	font-size: 1.25rem;
	font-style: italic;
	line-height: 1.6;
	margin-bottom: 40px;
	color: variables.$darkSecondaryFg;
	font-weight: 400;

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		font-size: 1.35rem;
		line-height: 1.65;
	}

	@media (prefers-color-scheme: light) {
		color: variables.$lightFg;
	}
}

.meta {
	font-size: 1.1rem;
	color: variables.$darkSecondaryFg;

	@media (prefers-color-scheme: light) {
		color: variables.$lightFg;
	}
}

.author {
	font-weight: 700;
	color: variables.$darkSecondaryFg;

	@media (prefers-color-scheme: light) {
		color: variables.$lightFg;
	}
}
