@use "../../styles/variables";
$padding: 10px 5vw;

.subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 0.5rem;
	border: solid 2px variables.$darkSecondaryFg;
	margin-bottom: 20px;
	padding: $padding;
	background-color: variables.$lightSecondaryFg;
	color: variables.$darkFg;

	@media (prefers-color-scheme: light) {
		background-color: variables.$darkFg;
		color: variables.$lightFg;
	}
}

.error {
	color: rgb(192, 0, 0);
	font-size: 0.8rem;
	margin-top: 0.5rem;
	padding: $padding;
}
