@use "../../styles/variables";
$padding: 10px 5vw;

.subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: $padding;
	margin-bottom: 20px;
	color: variables.$darkFg;
	text-align: center;
	background-color: variables.$lightSecondaryFg;
	border: solid 2px variables.$darkSecondaryFg;
	border-radius: 0.5rem;

	@media (prefers-color-scheme: light) {
		color: variables.$lightFg;
		background-color: variables.$darkFg;
	}
}

.error {
	padding: $padding;
	margin-top: 0.5rem;
	font-size: 0.8rem;
	color: #ff6b6b;
}
