name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          cache-key-suffix: unit

      - name: Lint Code Style
        run: task lint

      - name: Run unit tests
        run: task test:unit

  component_tests:
    name: Component Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          cache-key-suffix: component
      - name: Run component tests
        run: task test:component

  acceptance_tests:
    name: Acceptance Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          cache-key-suffix: acceptance

      - name: Cache Gatsby Build Files
        uses: actions/cache@v4
        with:
          path: |
            .cache
            public
          key: ${{ runner.os }}-gatsby-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-gatsby-
            ${{ runner.os }}-

      - name: Build site
        run: task build

      - name: Run E2E Tests
        run: task test:e2e

      - name: Upload results of failed tests
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: test-results
          path: test-results/
