name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Lint Code Style
        run: task lint

      - name: Run unit tests
        run: task test:unit

  component_tests:
    name: Component Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
      - name: Run component tests
        run: task test:component

  acceptance_tests:
    name: Acceptance Tests
    runs-on: ubuntu-latest
    outputs:
      artifact_id: ${{ steps.upload.outputs.artifact-id }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Cache Gatsby Build Files
        uses: actions/cache@v4
        with:
          path: |
            .cache
            public
          key: ${{ runner.os }}-gatsby-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-gatsby-
            ${{ runner.os }}-

      - name: Build site
        run: task build

      - name: Run E2E Tests
        run: task test:e2e

      - name: Upload static assets
        id: upload
        uses: actions/upload-artifact@v5
        with:
          name: static-assets
          retention-days: 1
          path: |
            wrangler.jsonc
            public/

  deploy:
    name: Deploy to CloudFlare
    if: github.ref_name == 'main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: [acceptance_tests]
    environment:
      name: production
      url: ${{ steps.deploy.outputs.deployment-url }}

    steps:
      - name: Download static assets
        uses: actions/download-artifact@v6
        with:
          artifact-ids: ${{ needs.acceptance_tests.outputs.artifact_id }}

      - name: Deploy
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}


